
@{
    ViewBag.Title = "Update_Project_Stage";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
    var projectStages = ViewData["ProjectStages"] as List<RemoteSensingProject.Models.Admin.main.Project_Budget>;
    int i = 1;
}

<div class="row mx-0">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span class="card-title">Add Project Expenses </span>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">S.No.</th>
                                <th>Head</th>
                                <th class="text-center">Amount</th>
                                <th class="text-center">Expended Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (projectStages != null && projectStages.Count > 0)
                            {
                                foreach (var item in projectStages)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>

                                            <a href="#" data-title="View Details" class="headExpense" data-Id="@item.Id">@item.ProjectHeads</a>

                                        </td>
                                        <td class="text-center">
                                            ₹@item.ProjectAmount
                                        </td>
                                        <td class="text-center">₹@item.TotalAskAmount</td>                                        
                                    </tr>
               i++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ViewBudgetExpenses" tabindex="-1" aria-labelledby="ViewBudgetExpenses" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h1 class="modal-title fs-5 text-light" id="ViewBudgetExpensesModal">Equipment Expenses</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Reciept</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody id="viewBudgetExpensesBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        
    $(".headExpense").click(function () {
        let headId = $(this).attr("data-Id");
        let projectId = @Request.QueryString["Id"];

            Swal.fire({
            title: "Please wait !",
            text: "Processing your request...",
            timer: 100000,
            allowEscapeKey: false,
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        $.ajax({
            url: "/api/getProjectExpencesList",
            type: "get",
            data: { projectId: projectId, headId: headId },
            success: function (res) {
                $("#viewBudgetExpensesBody").empty();
                if (res.status) {

                    let element = "";
                    $.each(res.data, function (i, d) {
                        element += `  <tr>
                              <td>${i + 1}</td>
 <td>${d.title}</td>
 <td>${d.description}</td>
 <td>₹${d.amount}</td>
 <td><a target='_blank' href="${d.attatchment_url}">Reciept</a></td>
 <td>${convertToDate(d.date)}</td>

                          </tr>`
                    });
                    $("#viewBudgetExpensesBody").append(element);
                    $("#ViewBudgetExpenses").modal("show");
                }
                else {
                    $("#ViewBudgetExpenses").modal("show");
                }

            },
            error: function () {
                Swal.fire({
                    title: "Server issue !",
                    text: "Server is busy. Please try after sometime.",
                    icon: "error"
                });
            },
            complete: function () {
                Swal.close();
            }
        })
    })

    function convertToDate(date) {
        let dateObj = new Date(date);
        return dateObj.toLocaleDateString();
    }
</script>


