
@{
    ViewBag.Title = "Add_Project";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
}


<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 13px;
    }
</style>

<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active" id="pageTitle" aria-current="page">Add Project</li>
    </ol>
    <a href="/employee/Project_List" class="btn btn-primary"><i class="link-icon" data-feather="arrow-left"></i> Back To List</a>
</nav>
<div class="row mx-0">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" id="createProjectForm">
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <label for="upload" class="form-label">Title</label>
                            <input type="text" name="pm.pm.ProjectTitle" class="form-control form-control-sm" id="daynight" placeholder="Enter Project Title" required>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="title" class="form-label">Assign Date</label>
                            <div class="input-group date">
                                <input type="date" class="form-control form-control-sm" name="pm.pm.AssignDate" required>
                                @*<span class="input-group-text input-group-addon"><i data-feather="calendar"></i></span>*@
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="subtitle" class="form-label">Start Date</label>
                            <div class="input-group date">
                                <input type="date" class="form-control form-control-sm" name="pm.pm.StartDate" required>
                                @*<span class="input-group-text input-group-addon"><i data-feather="calendar"></i></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <label for="title" class="form-label">Completion Date</label>
                            <div class="input-group date">
                                <input type="date" class="form-control form-control-sm" name="pm.pm.CompletionDate" required>
                                @*<span class="input-group-text input-group-addon"><i data-feather="calendar"></i></span>*@
                            </div>
                        </div>

                      
                        <div class="col-lg-4 mb-3">
                            <label for="title" class="form-label">Sub-Ordinate</label>
                            <select class="form-control form-control-sm" name="pm.pm.SubOrdinate" multiple required>
                                <option value="">Select an Option</option>
                                @foreach (var item in ViewBag.subOrdinateList as List<RemoteSensingProject.Models.Admin.main.Employee_model>)
                                {
                                    <option value="@item.Id">@item.EmployeeName (@item.EmployeeCode)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <div class="d-flex justify-content-between">
                                <label for="title" class="form-label">Budget</label><label class="form-label" id="addBudgetItem" data-count="1"> <a href="#"><i class="fa-solid fa-circle-plus"></i> Add Budget Heads</a></label>
                            </div>
                            <input type="text" class="form-control form-control-sm" name="pm.pm.ProjectBudget" id="budgetAmount" placeholder="Enter Project Budget" required>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label for="title" class="form-label">Project Document</label>
                            <input type="file" class="form-control form-control-sm" name="" id="projectDocumentFile" required>
                        </div>


                        <div class="col-lg-4 mb-3">
                            <label for="title" class="form-label">Project Type</label>
                            <br />
                            <label for="projectType" class="form-label">
                                <input type="radio" name="pm.pm.ProjectType" class="form-check-input" value="Internal" checked required /><span>Internal</span>
                            </label>
                            <label for="stage" class="form-label ms-2">
                                <input type="radio" name="pm.pm.ProjectType" class="form-check-input" value="External" required /> <span>External</span>
                            </label>
                        </div>


                        <div class="col-lg-4 mb-3">
                            <label for="title" class="form-label w-100">Stage</label>
                            <label for="stage" class="form-label">
                                <input type="radio" name="pm.pm.ProjectStage" class="form-check-input" value="true" required/> <span>Yes</span>
                            </label>
                            <label for="stage" class="form-label ms-2">
                                <input type="radio" name="pm.pm.ProjectStage" class="form-check-input" value="false" checked required/><span>No</span>
                            </label>


                        </div>
                    </div>
                    <div id="budgetContainerBox" style="display:none;">
                        <fieldset>
                            <legend style="font-size:15px;"> <label class="form-label my-2 fw-bolder"><a href="#">Project Budget Detail</a></label></legend>


                            <div class="row budgetList">
                                <div class="col-lg-5 mb-3">
                                    <label for="title" class="form-label">Heads</label>
                                    <input type="text" class="form-control form-control-sm" name="pm.budgets[0].ProjectHeads" id="" placeholder="Enter Key Point" >
                                </div>
                                <div class="col-lg-5 mb-3">
                                    <label for="title" class="form-label">Amount</label>
                                    <input type="text" class="form-control form-control-sm" id="person" name="pm.budgets[0].ProjectAmount" placeholder="Enter Contact Person Name" >
                                </div>


                            </div>
                            <div class="row" id="miscList">
                                <div class="col-lg-5 mb-3">
                                    <label for="title" class="form-label">
                                        Miscellaneous
                                    </label>
                                    <input type="text" class="form-control form-control-sm" name="pm.budgets[1].ProjectHeads" value="Miscellaneous" readonly placeholder="Enter Key Point">
                                </div>
                                <div class="col-lg-5 mb-3">
                                    <label for="misAmount" class="form-label">Amount</label>
                                    <input type="text" class="form-control form-control-sm" id="misAmount" name="pm.budgets[1].ProjectAmount" placeholder="Enter amount">
                                </div>


                            </div>
                        </fieldset>
                    </div>
                    <div id="projectTypeDetailContainer" style="display:none;">
                        <fieldset>
                            <legend style="font-size:15px;">  <label class="form-label my-2 fw-bolder"><a href="#">External Project Detail</a></label></legend>


                            <div class="row stageListItem">
                                <div class="col-lg-4 mb-3">
                                    <label for="title" class="form-label">Department Name</label>
                                    <input type="text" class="form-control form-control-sm" id="venue" name="pm.pm.ProjectDepartment" placeholder="Enter Key Point">
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <label for="title" class="form-label">Contact Person</label>
                                    <input type="text" class="form-control form-control-sm" id="person" name="pm.pm.ContactPerson" placeholder="Enter Contact Person Name">
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <label for="title" class="form-label">Address</label>
                                    <input type="text" class="form-control form-control-sm" id="person" name="pm.pm.Address" placeholder="Enter address">
                                </div>

                            </div>
                        </fieldset>
                    </div>
                    <div id="stageItemContainer" style="display:none;">
                        <fieldset>
                            <legend style="font-size:15px;">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label my-2 fw-bolder"><a href="#">Project Stage Detail</a></label>
                                    <label class="form-label" id="addStageIcon" data-count="0 "> <a href="#"><i class="link-icon" data-feather="plus"></i> Add Stage</a> <sup style="font-size:10px; color:red;">(* Max 10 stage allowed)</sup></label>
                                </div>
                            </legend>

                        </fieldset>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mb-3">
                            <label for="description" class="form-label"> Description</label>
                            <textarea class="form-control form-control-sm" name="pm.pm.ProjectDescription" id="tinymceExample" rows="10" placeholder="Project Description" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.7.1.js"></script>
<script>

    $(document).ready(function () {
        $("select").select2({
            placeholder: "Select an option",
        });
    })
    $(document).ready(function () {

        $("input[name='pm.pm.ProjectStage']").click(function () {
            if ($(this).val() === "true") {
                $("#stageItemContainer").show();
                $("#addStageIcon").show().click();
            } else {
                $("#stageItemContainer").hide();
                $("#addStageIcon").hide();
                $("#stageItemContainer .stageListItem").remove();
                $("#addStageIcon").attr("data-count", 1);
            }
        });


        $("#addStageIcon").click(function () {
            let count = parseInt($(this).attr("data-count"));
            if (count < 10) {
                let newElement = `
                <div class="row stageListItem">
                    <div class="col-lg-4 mb-3">
                        <label for="venue" class="form-label">Key Point</label>
                        <input type="text" class="form-control form-control-sm" name="pm.stages[${count}].KeyPoint" placeholder="Enter Key Point" required>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label for="person" class="form-label">Pdf Upload</label>
                        <input type="file" class="form-control form-control-sm stagesImages" name="pm.stages[${count}].Stage_Document"/>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <label for="date" class="form-label">Complete Date</label>
                        <input type="date" class="form-control form-control-sm" name="pm.stages[${count}].CompletionDate" required>
                    </div>
                    <div class="col-lg-1 text-center mb-3" style="line-height:6;">
                        <a href="#" class="deleteCurrntRow">
                            <i class="fa-solid fa-trash text-danger fs-4" style="cursor: pointer;"></i>
                        </a>
                    </div>
                </div>`;
                $("#stageItemContainer").append(newElement);
                count++;
                $(this).attr("data-count", count);
            }
        });


        $("#stageItemContainer").on("click", ".deleteCurrntRow", function (e) {
            e.preventDefault();
            let i = $("#stageItemContainer #addStageIcon").attr("data-count");
            if (i > 0)
                i--;
            $("#stageItemContainer #addStageIcon").attr("data-count", i);
            $(this).closest(".row.stageListItem").remove();
        });


        $("input[name='pm.pm.ProjectType']").click(function () {
            if ($(this).val() === "External") {
                $("#projectTypeDetailContainer").show();
            } else {
                $("#projectTypeDetailContainer").hide();
            }
        });
        //managing budget section

        //$("#addBudgetItem").click(function () {
        //    let count = $(this).attr("data-count");
        //    $("#budgetContainerBox").show();
        //    let ele = `<div class="row budgetList">
        //        <div class="col-lg-5 mb-3">
        //            <label for="title" class="form-label">Heads</label>
        //            <input type="text" class="form-control form-control-sm" name="pm.budgets[${count + 1}].ProjectHeads" id="venue" placeholder="Enter Key Point" >
        //        </div>
        //        <div class="col-lg-5 mb-3">
        //            <label for="title" class="form-label">Amount</label>
        //            <input type="text" class="form-control form-control-sm" id="person" name="pm.budgets[${count + 1}].ProjectAmount" placeholder="Enter amount" >
        //        </div>
        //        <div class="col-lg-2 text-center mb-3" style="line-height:6;">
        //            <a href="#" class="deleteCurrntRow">
        //                <i class="fa-solid fa-trash text-danger fs-4" style="cursor: pointer;"></i>
        //            </a>
        //        </div>

        //    </div>`;
        //    $("#miscList").before(ele);
        //})
        //$("#budgetContainerBox").on("click", ".deleteCurrntRow", function (e) {
        //    e.preventDefault();
        //    let i = $("#budgetContainerBox #addBudgetItem").attr("data-count");
        //    if (i > 0)
        //        i--;
        //    $("#budgetContainerBox #addBudgetItem").attr("data-count", i);
        //    $(this).closest(".row.budgetList").remove();
        //})
    });

    $(document).ready(function () {
        // Add Budget Heads
        $("#addBudgetItem").click(function (e) {
            e.preventDefault();

            let budgetAmt = parseFloat($("#budgetAmount").val());
            if (isNaN(budgetAmt) || budgetAmt <= 0) {
                Swal.fire("Warning!", "Please enter a valid Project Budget before adding heads.", "warning");
                return;
            }

            $("#budgetContainerBox").show();

            let count = parseInt($(this).attr("data-count")) || 0;

            if (count === 0) {
                // First click: create one head row + misc
                let headRow = `
                <div class="row budgetList">
                    <div class="col-lg-5 mb-3">
                        <label class="form-label">Heads</label>
                        <input type="text" class="form-control form-control-sm" 
                            name="pm.budgets[0].ProjectHeads" placeholder="Enter Key Point">
                    </div>
                    <div class="col-lg-5 mb-3">
                        <label class="form-label">Amount</label>
                        <input type="number" class="form-control form-control-sm amnt" 
                            name="pm.budgets[0].ProjectAmount" placeholder="Enter amount" min="0">
                    </div>
                    <div class="col-lg-2 text-center mb-3">
                        <a href="#" class="deleteCurrntRow">
                            <i class="fa-solid fa-trash text-danger fs-4" style="cursor:pointer;"></i>
                        </a>
                    </div>
                </div>`;

                let miscRow = `
                <div class="row" id="miscList">
                    <div class="col-lg-5 mb-3">
                        <label class="form-label">Miscellaneous</label>
                        <input type="text" class="form-control form-control-sm" 
                            name="pm.budgets[1].ProjectHeads" value="Miscellaneous" readonly>
                    </div>
                    <div class="col-lg-5 mb-3">
                        <label class="form-label">Amount</label>
                        <input type="number" class="form-control form-control-sm" id="misAmount" 
                            name="pm.budgets[1].ProjectAmount" readonly>
                    </div>
                </div>`;

                $("#budgetContainerBox").append(headRow + miscRow);
                $(this).attr("data-count", 1);
            } else {
                // Add new head row
                let ele = `
                <div class="row budgetList">
                    <div class="col-lg-5 mb-3">
                        <label class="form-label">Heads</label>
                        <input type="text" class="form-control form-control-sm" 
                            name="pm.budgets[${count + 1}].ProjectHeads" placeholder="Enter Key Point">
                    </div>
                    <div class="col-lg-5 mb-3">
                        <label class="form-label">Amount</label>
                        <input type="number" class="form-control form-control-sm amnt" 
                            name="pm.budgets[${count + 1}].ProjectAmount" placeholder="Enter amount" min="0">
                    </div>
                    <div class="col-lg-2 text-center mb-3">
                        <a href="#" class="deleteCurrntRow">
                            <i class="fa-solid fa-trash text-danger fs-4" style="cursor:pointer;"></i>
                        </a>
                    </div>
                </div>`;
                $("#miscList").before(ele);
                $(this).attr("data-count", count + 1);
            }

            updateMiscAmount();
        });

        // Delete row
        $("#budgetContainerBox").on("click", ".deleteCurrntRow", function (e) {
            e.preventDefault();
            let count = parseInt($("#addBudgetItem").attr("data-count")) || 1;
            if (count > 1) count--;
            $("#addBudgetItem").attr("data-count", count);
            $(this).closest(".row.budgetList").remove();
            updateMiscAmount();
        });

        // Update misc amount and prevent exceeding budget
        $(document).on("input", "#budgetAmount, .amnt", function () {
            let budgetAmt = parseFloat($("#budgetAmount").val()) || 0;
            let totalHeads = 0;
            let exceeded = false;

            $(".amnt").each(function () {
                let val = parseFloat($(this).val()) || 0;
                totalHeads += val;
            });

            if (totalHeads > budgetAmt) {
                exceeded = true;
                Swal.fire("Error!", "Total of all heads cannot exceed Project Budget!", "error");
                $(this).val('');
                totalHeads = 0;
                $(".amnt").each(function () {
                    let val = parseFloat($(this).val()) || 0;
                    totalHeads += val;
                });
            }

            let remaining = budgetAmt - totalHeads;
            if (remaining < 0) remaining = 0;
            $("#misAmount").val(remaining.toFixed(2));
        });
    });


</script>

<script>
    $("#createProjectForm").on("submit", function (e) {
        e.preventDefault();

        let formData = new FormData(this);

        // Project file
        let projFile = $("#projectDocumentFile")[0].files[0];
        if (projFile) formData.append("pm.pm.projectDocument", projFile);

        // Stages files
        $.each($(".stagesImages"), function (index, el) {
            let file = el.files[0];
            if (file) formData.append(`stages[${index}].Stage_Document`, file);
        });

        // Budgets
        $(".budgetList").each(function (index) {
            let head = $(this).find("input[name$='ProjectHeads']").val();
            let amount = $(this).find("input[name$='ProjectAmount']").val();
            formData.append(`budgets[${index}].ProjectHeads`, head);
            formData.append(`budgets[${index}].ProjectAmount`, amount);
        });

        // Misc
        let miscHead = $("#miscList input[name$='ProjectHeads']").val();
        let miscAmount = $("#misAmount").val();
        formData.append(`budgets[${$(".budgetList").length}].ProjectHeads`, miscHead);
        formData.append(`budgets[${$(".budgetList").length}].ProjectAmount`, miscAmount);

        $.ajax({
            url: "/Employee/InsertProject",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.status) Swal.fire("Success!", "Project created!", "success").then(() => location.reload());
                else Swal.fire("Error!", "Something went wrong!", "error");
            }
        });
    });

</script>

<!-- Update Project -->
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const projectId = urlParams.get("id");

    $.ajax({
        url: "/Employee/GetProjecDatatById",
        type: "get",
        data: { Id: projectId },
        success: function (res) {
            console.log(res);
            if (res.status) {

                bindProjectData(res.data);
                bindSubOrdinate(res.data);
                bindBudgets(res.data);
                bindStages(res.data);

                setTimeout(function () {
                    
                }, 300);

                $("#pageTitle").text("Update Project");
                $("#createProjectForm button[type='submit']").text("Update");
            }
        },
        error: function (res) {

        },
        complete: function (res) {

        }
    });


    function bindProjectData(response) {

        function convertDDMMYYYYtoYYYYMMDD(dateStr) {
            if (!dateStr) return "";

            const parts = dateStr.split("-");
            if (parts.length !== 3) return "";

            const day = parts[0].padStart(2, "0");
            const month = parts[1].padStart(2, "0");
            const year = parts[2];

            return `${year}-${month}-${day}`;
        }

        const pm = response.pm;

        // Text inputs
        $("input[name='pm.pm.ProjectTitle']").val(pm.ProjectTitle);
        $("input[name='pm.pm.ProjectBudget']").val(pm.ProjectBudget);
        $("input[name='pm.pm.ProjectDepartment']").val(pm.ProjectDepartment);
        $("input[name='pm.pm.ContactPerson']").val(pm.ContactPerson);
        $("input[name='pm.pm.Address']").val(pm.Address);

        //Dates Binding
        $("input[name='pm.pm.AssignDate']").val(convertDDMMYYYYtoYYYYMMDD(pm.AssignDateString));
        $("input[name='pm.pm.StartDate']").val(convertDDMMYYYYtoYYYYMMDD(pm.StartDateString));
        $("input[name='pm.pm.CompletionDate']").val(convertDDMMYYYYtoYYYYMMDD(pm.CompletionDatestring));

        // Textarea
        $("textarea[name='pm.pm.ProjectDescription']").val(pm.ProjectDescription);

        // Radio: Project Type
        $("input[name='pm.pm.ProjectType'][value='" + pm.ProjectType + "']").prop("checked", true);

        // Radio: Stage
        $("input[name='pm.pm.ProjectStage'][value='" + pm.ProjectStage + "']").prop("checked", true);

        // Show sections conditionally
        if (pm.ProjectStage === true) {
            $("#stageItemContainer").show();
        }

        if (pm.ProjectType === "External") {
            $("#projectTypeDetailContainer").show();
        }
    }

    function bindSubOrdinate(response) {
        const ids = response.SubOrdinate.map(x => x.Id);
        $("select[name='pm.pm.SubOrdinate']").val(ids).trigger("change");
    }

    function bindBudgets(response) {
        if (!response.budgets || response.budgets.length === 0) return;

        $("#budgetContainerBox").show();
        $("#budgetContainerBox .budgetList").remove(); // Remove old dynamic rows

        let count = 0;

        response.budgets.forEach(function (b) {
            if (b.ProjectHeads === "Miscellaneous") {
                $("#misAmount").val(b.ProjectAmount); // set misc amount
            } else {
                let ele = `
            <div class="row budgetList">
                <div class="col-lg-5 mb-3">
                    <label class="form-label">Heads</label>
                    <input type="text" class="form-control form-control-sm"
                           name="pm.budgets[${count}].ProjectHeads"
                           value="${b.ProjectHeads}">
                </div>
                <div class="col-lg-5 mb-3">
                    <label class="form-label">Amount</label>
                    <input type="number" class="form-control form-control-sm amnt"
                           name="pm.budgets[${count}].ProjectAmount"
                           value="${b.ProjectAmount}">
                </div>
                <div class="col-lg-2 text-center mb-3" style="line-height:6;">
                    <a href="#" class="deleteCurrntRow">
                        <i class="fa-solid fa-trash text-danger fs-4" style="cursor:pointer;"></i>
                    </a>
                </div>
            </div>`;

                $("#miscList").before(ele);
                count++;
            }
        });

        $("#addBudgetItem").attr("data-count", count); // update count
        updateMiscAmount(); // recalc remaining misc
    }




    function bindStages(response) {

        if (!response.stages || response.stages.length === 0) return;

        $("#stageItemContainer").show();

        response.stages.forEach(function (stage, index) {

            let html = `
        <div class="row stageListItem">
            <div class="col-lg-4 mb-3">
                <label class="form-label">Key Point</label>
                <input type="text" class="form-control form-control-sm"
                       name="pm.stages[${index}].KeyPoint"
                       value="${stage.KeyPoint}">
            </div>

            <div class="col-lg-4 mb-3">
                <label class="form-label">Completion Date</label>
                <input type="text" class="form-control form-control-sm"
                       name="pm.stages[${index}].CompletionDatestring"
                       value="${stage.CompletionDatestring}">
            </div>
        </div>`;

            $("#stageItemContainer fieldset").append(html);
        });
    }

</script>