
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_employeeLayout.cshtml";
}



    <div class="row profile-body">

        <div class="col-lg-4">
            <div class="card rounded">
                <div class="card-body">
                    <div class="w-100">
                        <div class="d-flex justify-content-lg-around align-items-center">
                            <img class="wd-70 rounded-circle" src="~/assets/no-pictures.png" alt="profile">
                            <figure style="height: 50px;">
                                <blockquote class="blockquote">
                                    <p>Amiah Burton</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    <cite title="Project Manager">Project Manager</cite>
                                </figcaption>
                            </figure>

                        </div>
                    </div>
                    <div class="mt-3">
                        <label class="fw-bolder mb-0 text-uppercase">Department:</label>
                        <p>Macreel Infosoft Pvt.LTd.</p>
                    </div>
                    <div class="mt-3">
                        <label class="fw-bolder mb-0 text-uppercase">Joined:</label>
                        <p>November 15, 2021</p>
                    </div>

                    <div class="mt-3">
                        <label class="fw-bolder mb-0 text-uppercase">Address:</label>
                        <p>New York, USA</p>
                    </div>
                    <div class="mt-3">
                        <label class="fw-bolder mb-0 text-uppercase">Email:</label>
                        <p><a href="" class="__cf_email__" data-cfemail="38555d785e57565d4d51165b5755">[email&#160;protected]</a></p>
                    </div>
                    <div class="mt-3">
                        <label class="fw-bolder mb-0 text-uppercase">Phone No.:</label>
                        <p>+00 1234 5678 9</p>
                    </div>
                    <div class="mt-3">
                        <label class="fw-bolder mb-0 text-uppercase">Password:</label>
                        <p><a href="" class="__cf_email__" data-cfemail="38555d785e57565d4d51165b5755">[password&#160;protected]</a></p>
                    </div>


                </div>
            </div>
        </div>


        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-4">User Profile</h4>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="employeeName" class="form-label">Employee Name</label>
                            <p>Harsh Agarwal</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="mobile" class="form-label">Mobile</label>
                            <p>9876543210</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <p>harsh@example.com</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="role" class="form-label">Role</label>
                            <p>Project Manager</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="department" class="form-label">Department</label>
                            <p>Department1</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="designation" class="form-label">Designation</label>
                            <p>Designation2</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="gender" class="form-label">Gender</label>
                            <p>Male</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="address" class="form-label">Address</label>
                            <p>1234 Main St, City, State</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="username" class="form-label">UserName</label>
                            <p>harsh123</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="password" class="form-label">Password</label>
                            <p>********</p> <!-- Or you can show the password if needed -->
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="uploadImages" class="form-label">Uploaded Images</label>
                            <p><a href="#" title="Download Profile Image">img.png</a></p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="uploadAadhar" class="form-label">Uploaded Aadhar Card</label>
                            <p><a href="#" title="Download Aadhar Card">aadhar.png</a></p>
                        </div>
                        <p class="text-end">
                            <button class="btn btn-success p-2">Update Profile</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>

