################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RemoteSensingProject/FileContentIndex/73510ecc-309c-428b-a775-650733659604.vsidx
/.vs/RemoteSensingProject/FileContentIndex/d20f8bcb-07b0-4f96-bd2f-a89fecb40e83.vsidx
*.vsidx
