@{
    ViewBag.Title = "Help_menu";
    Layout = null;

    string downloadLink = "#";

    if (User.IsInRole("Admin"))
    {
        downloadLink = Url.Content("~/Content/User Manual/Admin User Manual.pdf");
        Layout = "~/Views/Shared/_adminLayout.cshtml";
    }
    else if (User.IsInRole("subOrdinate"))
    {
        downloadLink = Url.Content("~/Content/User Manual/RSAC User Manual - Subordinate.pdf");
        Layout = "~/Views/Shared/_subOrdinateLayout.cshtml";
    }
    else if (User.IsInRole("accounts"))     
    {
        downloadLink = Url.Content("~/Content/User Manual/RSAC User Manual - Accounts.pdf");
        Layout = "~/Views/Shared/_AccountLayout.cshtml";
    }
    else if (User.IsInRole("projectManager"))
    {
        downloadLink = Url.Content("~/Content/User Manual/Project Manager - User manual.pdf");
        Layout = "~/Views/Shared/_employeeLayout.cshtml";
    }
}

<div class="ratio ratio-1x1">
    <object data="@downloadLink" type="application/pdf" width="100%" height="100%">
        <p>
            Your browser does not support PDFs.
            <a href="@downloadLink" target="_blank">Download the PDF</a>
        </p>
    </object>
</div>

