<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Divison</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       @if(Model != null)
                       {
                           int i = 1;
                           foreach(var item in Model as List<RemoteSensingProject.Models.Admin.main.CommonResponse>)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.name</td>
                        <td>Action</td>
                    </tr>
                               i++;
                           }
                       }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".table").DataTable();

        $("#categoryForms").on("submit", function (e) {

            e.preventDefault();
            let data = $(this).serialize();


            $.ajax({
                url: "/admin/InsertDivision",
                type: "post",
                data: data,
                success: function (res) {
                    if (res.status) {
                        Swal.fire({
                            title: "Successfully !",
                            text: res.message,
                            icon: "success",
                            didClose: () => {
                                location.reload(true)
                            }
                        })
                    } else {
                        Swal.fire({
                            title: "Sorry !",
                            text: res.message,
                            icon: "warning"
                        })
                    }
                },
                error: function () {
                    Swal.fire({
                        title: "Server issue !",
                        text: "Server is busy ! Please try after sometime.",
                        icon: "error",
                        didClose: () => {
                            location.reload(true)
                        }
                    })
                }
            })
        })
    })
</script>
