
@{
    ViewBag.Title = "Employee_Registration";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<style>
    .modal-body .sliderimages img {
        width: 20% !important;
        height: 20%;
        border-radius: 10px;
    }
    svg {
        height: 20px;
    }
    .link-icon {
        height: 16px;
    }
</style>

<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">/Employee Registration</li>
    </ol>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="plus"></i> Add Employee</button>
</nav>
<div class="search-box p-4 bg-white rounded mb-3 box-shadow">
    <form class="forms-sample">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <h5>Employee Lists</h5>
            </div>
            <div class="col-lg-6 col-md-6">
                <input type="text" placeholder="Search by employee name" class="form-control">
            </div>
            <div class="col-lg-3 col-md-6">
                <select class="form-select form-select-lg">
                    <option selected>Department</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Date</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-start">1</td>
                                <td>25/09/2024</td>
                                <td class="w-25">
                                    <img src="~/Employee_Images/img.png" alt="image">
                                </td>
                                <td>Rahul Sharma</td>
                                <td>Department</td>
                                <td class="text-center">
                                    <span class="form-check form-switch"><input type="checkbox" class="form-check-input" id="formSwitch1" checked></span>
                                </td>
                                <td class="text-center">
                                    <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                        <li class="me-2">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#viewslider"><i class="link-icon" data-feather="eye"></i></a>
                                            @*<div class="modal fade" id="viewslider" tabindex="-1" aria-labelledby="viewslider" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <div class="sliderimages mb-3">
                                                                <img src="../images/trending/trending2.jpg" alt="sliderimages">
                                                            </div>
                                                            <h5 class="mb-1">Slider Sub Title</h5>
                                                            <h2 class="mb-1">Slider Title</h2>
                                                            <p class="mb-0">
                                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@
                                        </li>
                                        <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="edit"></i></a></li>
                                        <li><a href="#"><i class="link-icon" data-feather="delete"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start">2</td>
                                <td>25/09/2024</td>
                                <td class="w-25">
                                    <img src="~/Employee_Images/img.png" alt="image">
                                </td>
                                <td>Vinay Kumar</td>
                                <td>Department</td>
                                <td class="text-center">
                                    <span class="form-check form-switch"><input type="checkbox" class="form-check-input" id="formSwitch1" checked></span>
                                </td>
                                <td class="text-center">
                                    <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                        <li class="me-2">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#viewslider"><i class="link-icon" data-feather="eye"></i></a>
                                            @*<div class="modal fade" id="viewslider" tabindex="-1" aria-labelledby="viewslider" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <div class="sliderimages mb-3">
                                                                <img src="../images/trending/trending2.jpg" alt="sliderimages">
                                                            </div>
                                                            <h5 class="mb-1">Slider Sub Title</h5>
                                                            <h2 class="mb-1">Slider Title</h2>
                                                            <p class="mb-0">
                                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@
                                        </li>
                                        <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="edit"></i></a></li>
                                        <li><a href="#"><i class="link-icon" data-feather="delete"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start">3</td>
                                <td>25/09/2024</td>
                                <td class="w-25">
                                    <img src="~/Employee_Images/img.png" alt="image">
                                </td>
                                <td>Pooja tyagi</td>
                                <td>Department</td>
                                <td class="text-center">
                                    <span class="form-check form-switch"><input type="checkbox" class="form-check-input" id="formSwitch1" checked></span>
                                </td>
                                <td class="text-center">
                                    <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                        <li class="me-2">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#viewslider"><i class="link-icon" data-feather="eye"></i></a>
                                            @*<div class="modal fade" id="viewslider" tabindex="-1" aria-labelledby="viewslider" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <div class="sliderimages mb-3">
                                                                <img src="../images/trending/trending2.jpg" alt="sliderimages">
                                                            </div>
                                                            <h5 class="mb-1">Slider Sub Title</h5>
                                                            <h2 class="mb-1">Slider Title</h2>
                                                            <p class="mb-0">
                                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@
                                        </li>
                                        <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="edit"></i></a></li>
                                        <li><a href="#"><i class="link-icon" data-feather="delete"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start">4</td>
                                <td>25/09/2024</td>
                                <td class="w-25">
                                    <img src="~/Employee_Images/img.png" alt="image">
                                </td>
                                <td>Rohan Gupta</td>
                                <td>Department</td>
                                <td class="text-center">
                                    <span class="form-check form-switch"><input type="checkbox" class="form-check-input" id="formSwitch1" checked></span>
                                </td>
                                <td class="text-center">
                                    <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                        <li class="me-2">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#viewslider"><i class="link-icon" data-feather="eye"></i></a>
                                            @*<div class="modal fade" id="viewslider" tabindex="-1" aria-labelledby="viewslider" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <div class="sliderimages mb-3">
                                                                <img src="../images/trending/trending2.jpg" alt="sliderimages">
                                                            </div>
                                                            <h5 class="mb-1">Slider Sub Title</h5>
                                                            <h2 class="mb-1">Slider Title</h2>
                                                            <p class="mb-0">
                                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@
                                        </li>
                                        <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="edit"></i></a></li>
                                        <li><a href="#"><i class="link-icon" data-feather="delete"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start">5</td>
                                <td>25/09/2024</td>
                                <td class="w-25">
                                    <img src="~/Employee_Images/img.png" alt="image">
                                </td>
                                <td>Harsh Agarwal</td>
                                <td>Department</td>
                                <td class="text-center">
                                    <span class="form-check form-switch"><input type="checkbox" class="form-check-input" id="formSwitch1" checked></span>
                                </td>
                                <td class="text-center">
                                    <ul class="d-flex list-unstyled mb-0 justify-content-center">
                                        <li class="me-2">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#viewslider"><i class="link-icon" data-feather="eye"></i></a>
                                        </li>
                                        <li class="me-2"><a href="#" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="edit"></i></a></li>
                                        <li><a href="#"><i class="link-icon" data-feather="delete"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="dataTables_paginate">
            <ul class="pagination">
                <li class="paginate_button page-item">
                    <a href="#" class="page-link">Previous</a>
                </li>
                <li class="paginate_button page-item active"><a href="#" class="page-link">1</a></li>
                <li class="paginate_button page-item"><a href="#" class="page-link">2</a></li>
                <li class="paginate_button page-item"><a href="#" class="page-link">3</a></li>
                <li class="paginate_button page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div>
    </div>*@

<div class="modal fade" id="addslider" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>

                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>

            </div>
            <div class="modal-body">
                <form class="addEmployeeform">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="subtitle" class="form-label"> Employee Code</label>
                            <input type="text" class="form-control" name="EmployeeCode" required id="subtitle" autocomplete="off" placeholder="Enter Employee Code">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="subtitle" class="form-label"> Employee Name</label>
                            <input type="text" class="form-control" name="EmployeeName" required id="subtitle" autocomplete="off" placeholder="Enter Employee Name">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="title" class="form-label">Mobile</label>
                            <input type="text" class="form-control" name="MobileNo" required id="title" placeholder="Enter Mobile">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="title" class="form-label">Email</label>
                            <input type="text" class="form-control"  name="Email" required id="title" placeholder="Enter Email">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="description" class="form-label">Select Role</label>
                            <select class="form-select form-select-lg"  name="EmployeeRole" required>
                                <option selected disabled>Select Role</option>
                                <option value="projectManager">Project Manager</option>
                                <option value="subOrdinate">Sub Ordinate</option>
                                <option value="accounts">Accounts</option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="description" class="form-label">Select Division</label>
                            <select class="form-select form-select-lg"  name="Division" required>
                                <option selected disabled>Select Division</option>
                                @if (ViewBag.division != null)
            {
    if (ViewBag.division.Count > 0)
                {
                                        foreach(var item in ViewBag.division)
                    {

                    <option value="@item.id">@item.name</option>
                    }
                }
            }
                               
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="description" class="form-label">Select Designation</label>
                            <select class="form-select form-select-lg"  name="Designation" required>
                                <option selected>Select Designation</option>
                                @if (ViewBag.designation != null)
                                {
                                    if (ViewBag.designation.Count > 0)
                                    {
                                        foreach (var item in ViewBag.designation)
                                        {

                                            <option value="@item.id">@item.name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="gender" class="form-label">Gender</label>
                            <div id="gender">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" required type="radio" name="gender" id="male" value="male">
                                    <label class="form-check-label" for="male">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" required type="radio" name="gender" id="female" value="female">
                                    <label class="form-check-label" for="female">Female</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" required type="radio" name="gender" id="other" value="other">
                                    <label class="form-check-label" for="other">Other</label>
                                </div>
                            </div>
                        </div>
                       
                        <div class="mb-3 col-md-6">
                            <label for="upload" class="form-label">Upload Images</label>
                            <input class="form-control" required type="file"  name="EmployeeImages" id="fileupload">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i> Add Employee</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewslider" tabindex="-1" aria-labelledby="viewslider" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Slider Images and Title -->
                <div class="sliderimages mb-3" style=" text-align: center; ">
                    <img src="~/Employee_Images/img.png" alt="sliderimages">                
                    <h5 class="mb-1">Harsh Agarwal</h5>

                </div>
                <!-- Static Information Start -->
                <div class="mt-4">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="employeeName" class="form-label">Employee Name</label>
                            <p>Harsh Agarwal</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="mobile" class="form-label">Mobile</label>
                            <p>9876543210</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <p>harsh@example.com</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="role" class="form-label">Role</label>
                            <p>Project Manager</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="department" class="form-label">Department</label>
                            <p>Department1</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="designation" class="form-label">Designation</label>
                            <p>Designation2</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="gender" class="form-label">Gender</label>
                            <p>Male</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="address" class="form-label">Address</label>
                            <p>1234 Main St, City, State</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="username" class="form-label">UserName</label>
                            <p>harsh123</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="password" class="form-label">Password</label>
                            <p>********</p> <!-- Or you can show the password if needed -->
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="uploadImages" class="form-label">Uploaded Images</label>
                            <p>img.png</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="uploadAadhar" class="form-label">Uploaded Aadhar Card</label>
                            <p>aadhar.png</p>
                        </div>
                    </div>
                </div>
                <!-- Static Information End -->
            </div>
        </div>
    </div>
</div>


<script>

    $(".addEmployeeform").submit(function (e) {
        e.preventDefault();
        let formData = new FormData();
        let arrData = $(this).serializeArray();
        arrData.forEach(function (d) {
            formData.append(d.name, d.value);
        })
        if ($("#fileupload").get(0).files.length > 0) {
            formData.append("EmployeeImages", $("#fileupload").get(0).files[0])
        }

        $.ajax({
            url: "/admin/Employee_Registration",
            type: "post",
            processData: false,
            contentType:false,
            data: formData,
            success: function (res) {
                if (res) {
                    Swal.fire({
                        title: "success",
                        text: "Employee Added Successfully",
                        icon: "success",
                        didClose: () => {
                            location.reload();
                        }
                    })
                } else {
                    Swal.fire({
                        title: "error",
                        text: "something went wrong",
                        icon: "error"
                    })
                }
            },error:function(xhr){
                Swal.fire({
                    title: "error",
                    text: "something went wrong",
                    icon: "error"
                })
            }
        })

    })

</script>