
@{
    ViewBag.Title = "Generate_Notice";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 13px;
    }
</style>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row" id="projectmanagerdesc">
                   
                </div>
                <hr />
                <form class="noticeForm">
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <label for="upload" class="form-label">Project Name</label>
                                <select required name="ProjectId" class="form-select form-select-lg" id="selectProject">
                                    <option selected>--Select Project--</option>
                                    @if (ViewBag.ProjectList != null) {
    if (ViewBag.ProjectList.Count > 0)
                {
                                            foreach(var item in ViewBag.ProjectList)
                    {
                        <option value="@item.Id">@item.ProjectTitle</option>
                    }
                }
                                    }
                                </select>
                        </div> 
                        <div class="col-lg-6 mb-3">
                            <label for="upload" class="form-label">Attachment</label>
                            <input class="form-control" type="file" name="Attachment" id="upload">
                        </div>
                       
                    </div>
                  
                    <div class="row">
                        <div class="col-lg-12 mb-3">
                            <label for="description" class="form-label"> Write Notice</label>
                    <textarea required class="form-control form-control-sm" name="Notice" id="summernote" rows="10" placeholder=""></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i>Send Notice</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function showLoading(action) {
        Swal.fire({
            title: "Please Wait..!",
            text: "Request are under process.",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });
        if (!action) {
            Swal.close();
        }
    }

    $("#selectProject").on("change", function () {
        let pId = $(this).val() || null;
        $.ajax({
            url: "/admin/GetProjectManagerByProjectId",
            type: "get",
            data: { id: pId },
            success: function (res) {
                if (res != null) {
                    $("#projectmanagerdesc").html(
                        `
                         <div class="col-sm-3">
     <h6 class="mb-2 text-success">Send Notice To Project Manager</h6>
 </div>
 <div class="col-sm-9">
     <span>Project Name. :- <label style="color: #029e9d">${res.ProjectTitle}</label></span> ||
     <span>Project Manager :- <label style="color: #029e9d">${res.ProjectManager}</label></span> ||
     <span>Completion Date :- <label style="color: #029e9d">${res.CompletionDatestring}</label></span>
 </div>
                        `
                    )
                } else {
                    $("#projectmanagerdesc").html("")
                }
            }, error: function (xhr) {
                $("#projectmanagerdesc").html("")
               
            }
        })
    })

    $(".noticeForm").submit(function (e) {
        e.preventDefault();
        let formData = new FormData();
        let arrData = $(this).serializeArray();
        arrData.forEach(function (d) {
            formData.append(d.name, d.value);
        })
        showLoading(true)

        if ($("#upload").get(0).files.length > 0) {
            formData.append("Attachment", $("#upload").get(0).files[0])
        }
        $.ajax({
            url: "/admin/AddNotice",
            type: "post",
            processData: false,
            contentType: false,
            data: formData,
            success: function (res) {
                if (res) {
                    Swal.fire({
                        title: "success",
                        text: "Notice Added Successfully",
                        icon: "success",
                        didClose: () => {
                            document.querySelector(".noticeForm").reset();
                            $("#summernote").summernote('code', '');
                        }
                    })
                } else {
                    Swal.fire({
                        title: "error",
                        text: "some error occured",
                        icon: "error"
                    })
                }
               
            }, error: function (xhr) {
                Swal.fire({
                    title: "error",
                    text: "some error occured",
                    icon:"error"
                })
            }
        })
    })
    
</script>