
@{
    ViewBag.Title = "View_Expenses";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<style>
    .modal-body .sliderimages img {
        width: 20% !important;
        height: 20%;
        border-radius: 10px;
    }

    svg {
        height: 20px;
    }

    .btn-close {
        color: red !important;
    }

    .modal-header {
        background: #12605f
    }
</style>

@*<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active" aria-current="page">Project Stages Status Update</li>
        </ol>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="plus"></i> Add Weekly Status</button>
    </nav>*@
@*<div class="search-box p-4 bg-white rounded mb-3 box-shadow">
        <form class="forms-sample">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <h5>Employee Lists</h5>
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Search by employee name" class="form-control">
                </div>
                <div class="col-lg-3 col-md-6">
                    <select class="form-select form-select-lg">
                        <option selected>Department</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </form>
    </div>*@
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span class="card-title">View Project Expenses </span>
                <span class="card-title text-center mx-auto text-info" style="text-transform:none">Total Budget: 3,00,000</span>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">S.No.</th>
                                <th>Head</th>
                                <th class="text-center">Amount</th>
                                <th class="text-center">Enter Expended Amount</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="text-start">1</td>
                                <td><a href="#" data-bs-toggle="modal" data-bs-target="#addslider">Equipment Expenses</a></td>
                                <td class="text-center">
                                    20,000
                                </td>
                                <td class="text-center">
                                    10,000
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start">2</td>
                                <td><a href="#" data-bs-toggle="modal" data-bs-target="#addslider">Project Expenses</a></td>
                                <td class="text-center">
                                    10,000
                                </td>
                                <td class="text-center">
                                    8,000
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start">3</td>
                                <td><a href="#" data-bs-toggle="modal" data-bs-target="#addslider">Miscellaneous Expenses</a></td>
                                <td class="text-center">
                                    5,000
                                </td>
                                <td class="text-center">
                                    3,000
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @*<div class="text-center">
                            <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i> Add Expenses</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>








<div class="modal fade" id="addslider" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Equipment Expenses</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Reciept</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>10/02/2004</td>
                                <td>Item 1</td>
                                <td>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero cupiditate, distinctio doloribus molestias cum possimus nam nemo nisi excepturi repudiandae ea consequuntur eveniet sunt voluptate totam! Architecto adipisci explicabo magnam.
                                </td>
                                <td>15000</td>
                                <td><a href="#document">Reciept</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>