
@{
    ViewBag.Title = "View_Weekly_Update";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    var dataList = ViewData["weeklyUpdate"] as List<RemoteSensingProject.Models.Admin.main.Project_WeeklyUpdate>;
    int i = 1;
}


<style>
    .modal-body .sliderimages img {
        width: 20% !important;
        height: 20%;
        border-radius: 10px;
    }

    svg {
        height: 20px;
    }
</style>

<nav class="page-breadcrumb d-flex align-items-center justify-content-between">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active" aria-current="page">View Weekly Status Update</li>
    </ol>
    @*<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addslider"><i class="link-icon" data-feather="plus"></i> Add Weekly Status</button>*@
</nav>
@*<div class="search-box p-4 bg-white rounded mb-3 box-shadow">
        <form class="forms-sample">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <h5>Employee Lists</h5>
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Search by employee name" class="form-control">
                </div>
                <div class="col-lg-3 col-md-6">
                    <select class="form-select form-select-lg">
                        <option selected>Department</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </form>
    </div>*@
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th class="text-center">S.No.</th>
                                <th>Date</th>
                                <th>Comment</th>
                                <th>Completion in %</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (dataList != null && dataList.Count > 0)
                            {
                                foreach (var item in dataList)
                                {


                                <tr>
                                    <td class="text-start">@i</td>
                                    <td>@item.date</td>
                                    <td class="w-25">
                                        @item.comments
                                    </td>
                                    <td>@item.completionPerc%</td>

                                </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addslider" tabindex="-1" aria-labelledby="addslider" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLabel">Add Weekly Status</h5>
            </div>
            <div class="modal-body">
                <form class="forms-sample">
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label for="subtitle" class="form-label">Comment</label>
                            <textarea class="form-control form-control-sm" name="tinymce" id="tinymceExample" rows="10" placeholder="Project Description"></textarea>
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="title" class="form-label">Completion in %</label>
                            <input type="number" class="form-control" id="title" placeholder="Enter Mobile">
                        </div>

                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i> Add Employee</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


