<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from htmldesigntemplates.com/html/travelin/dashboard// by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 May 2024 11:34:05 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Travelin Responsive HTML Admin Dashboard Template based on Bootstrap 5">
    <meta name="author" content="Travelin">
    <title>Remote & Sensing</title>

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/assets/vendors/core/core.css">


    <link rel="stylesheet" href="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">


    <link rel="stylesheet" href="~/assets/fonts/feather-font/css/iconfont.css">


    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="~/assets/vendors/select2/select2.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../images/favicon.png" />
    <link href="~/assets/datatable/datatables.min.css" rel="stylesheet" />
    <script src="~/assets/vendors/core/core.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <style>
        * {
            user-select: none !important;
        }

        a::before {
            content: none !important;
            display: none !important;
        }

        a:hover::before {
            display: none !important;
            content: none !important;
        }

        .form-control {
            padding: 5px 15px !important;
        }

        .form-select {
            padding: 5px 15px !important;
            /*            color: #c0c7d2;
        */ font-size: 14px;
        }

        table.dataTable thead th, table.dataTable tfoot th {
            font-weight: bold;
            background: #029e9d;
            color: white;
            text-transform: none;
        }

        .form-label {
            margin-bottom: 0;
        }

        .breadcrumb-item + .breadcrumb-item::before {
            content: none;
        }

        .modal-body .sliderimages img {
            width: 20% !important;
            height: 20%;
            border-radius: 10px;
        }

        .btn-close {
            color: red !important;
        }

        .modal-header {
            background: #12605f
        }

        .modal-title {
            color: white !important;
        }

        .btn-close {
            background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center / 0.8em auto no-repeat !important;
        }

        /*Loader Style*/
        #loaderOverlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255,255,255,0.7);
            z-index: 9999;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* Glowing Circular Loader */
        .custom-loader {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 6px solid transparent;
            border-top: 6px solid rgba(0, 255, 180, 0.7);
            border-right: 6px solid rgba(0, 255, 180, 0.7);
            animation: spin 1s linear infinite, glow 1.5s ease-in-out infinite alternate;
            box-shadow: 0 0 15px rgba(0,255,180,0.6);
        }

        @@keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

        @@keyframes glow {
            0% {
                box-shadow: 0 0 5px rgba(0,255,180,0.3);
            }

            100% {
                box-shadow: 0 0 25px rgba(0,255,180,0.9);
            }
        }
    </style>
</head>
<body>
    <div class="main-wrapper">

        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="https://rsac.up.gov.in/" class="sidebar-brand" target="_blank">
                    @*<img src="~/assets/images/macreel.png" alt="logo" class="w-75">*@
                    <img src="~/assets/images/remote_sensing_logo.jfif" height="50">
                    <span style="font-size:14px">Remote Sensing</span>
                    @*<img src="https://rsac.up.gov.in/images/logo.png" class="w-100 h-50">*@

                </a>
                <div class="sidebar-toggler not-active">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="sidebar-body">
                <ul class="nav">

                    <li class="nav-item active">
                        <a href="/Employee/Dashboard" class="nav-link">
                            <i class="link-icon" data-feather="box"></i>
                            <span class="link-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Employee/Assigned_Project" class="nav-link">
                            <i class="link-icon" data-feather="user"></i>
                            <span class="link-title">Assigned Projects</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/employee/OutSource" class="nav-link">
                            <i class="link-icon" data-feather="user"></i>
                            <span class="link-title">Out Source</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/employee/CreateTask" class="nav-link">
                            <i class="link-icon" data-feather="user"></i>
                            <span class="link-title">Task</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#category" role="button" aria-expanded="false" aria-controls="category">
                            <i class="link-icon" data-feather="list"></i>
                            <span class="link-title">Project Section</span>
                            <i class="link-arrow" data-feather="chevron-down"></i>
                        </a>
                        <div class="collapse" id="category">
                            <ul class="nav sub-menu">
                                <li class="nav-item">
                                    <a href="/Employee/Add_Project" class="nav-link">Add Project</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Employee/Project_List" class="nav-link">My Project</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Employee/All_Project_List" class="nav-link">All Project List</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#pmreports" role="button" aria-expanded="false" aria-controls="pmreports">
                            <i class="link-icon" data-feather="camera"></i>
                            <span class="link-title">Min Of Meeting</span>
                            <i class="link-arrow" data-feather="chevron-down"></i>
                        </a>
                        <div class="collapse" id="pmreports">
                            <ul class="nav sub-menu">
                                <li class="nav-item">
                                    <a href="/Employee/Min_Of_Meeting" class="nav-link">Create Meeting</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Employee/Meetings" class="nav-link">Meeting List</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/Employee/Notice" class="nav-link">
                            <i class="link-icon" data-feather="image"></i>
                            <span class="link-title">Notice</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Employee/SubOrdinateProblemList" class="nav-link">
                            <i class="link-icon" data-feather="calendar"></i>
                            <span class="link-title">Project Problem</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Employee/Reimbursement_Form" class="nav-link">
                            <i class="link-icon" data-feather="calendar"></i>
                            <span class="link-title">Reimbursement Form</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Employee/Tour_Proposal" class="nav-link">
                            <i class="link-icon" data-feather="calendar"></i>
                            <span class="link-title">Tour Proposal Form</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Employee/Hiring_Vehicle" class="nav-link">
                            <i class="link-icon" data-feather="calendar"></i>
                            <span class="link-title">Hiring Vehicle</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Employee/RaiseProblem" class="nav-link">
                            <i class="link-icon" data-feather="calendar"></i>
                            <span class="link-title">Raise Problem</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Employee/EmpMonthlyReport" class="nav-link">
                            <i class="link-icon" data-feather="calendar"></i>
                            <span class="link-title">Progress Report</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#attd" role="button" aria-expanded="false" aria-controls="attd">
                            <i class="link-icon" data-feather="camera"></i>
                            <span class="link-title">Manage Attendance</span>
                            <i class="link-arrow" data-feather="chevron-down"></i>
                        </a>
                        <div class="collapse" id="attd">
                            <ul class="nav sub-menu">
                                <li class="nav-item">
                                    <a href="/Employee/ManageAttendance" class="nav-link">Add Attendance</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Employee/AttendanceRequest" class="nav-link">Attendance Request</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/Employee/Feedback" class="nav-link">
                            <i class="link-icon" data-feather="calendar"></i>
                            <span class="link-title">Feedback</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#pmreports2" role="button" aria-expanded="false" aria-controls="pmreports2">
                            <i class="link-icon" data-feather="list"></i>
                            <span class="link-title">Project Report</span>
                            <i class="link-arrow" data-feather="chevron-down"></i>
                        </a>
                        <div class="collapse" id="pmreports2">
                            <ul class="nav sub-menu">
                                <li class="nav-item">
                                    <a href="/Employee/All_Project_Report" class="nav-link">All Report</a>
                                </li>
                                @*<li class="nav-item">
                                    <a href="/Employee/Pending_Project_Report" class="nav-link">Not Started Report</a>
                                </li>*@
                                @*<li class="nav-item">
                                    <a href="/Employee/Complete_Project_Report" class="nav-link">Completed Report</a>
                                </li>*@
                                <li class="nav-item">
                                    <a href="/Employee/Expense_Report" class="nav-link">Expenses Report</a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Employee/Reimbursement_Report" class="nav-link">Reimbursement Report</a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Employee/TourProposal_Report" class="nav-link">Tour Proposal Report</a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Employee/Hiring_Report" class="nav-link">Hiring Report</a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Employee/Attendance_Report" class="nav-link">Attendance Report</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="page-wrapper">
            <div id="loaderOverlay" style="display:none;">
                <div class="custom-loader"></div>
            </div>
            <nav class="navbar">
                <a href="#" class="sidebar-toggler">
                    <i data-feather="menu"></i>
                </a>
                <div class="navbar-content">

                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="wd-30 ht-30 rounded-circle" src="~/assets/no-pictures.png" alt="profile">
                            </a>
                            <div class="dropdown-menu p-0" aria-labelledby="profileDropdown">
                                <div class="d-flex flex-column align-items-center border-bottom px-5 py-3">
                                    <div class="mb-3">
                                        <img class="wd-80 ht-80 rounded-circle" src="~/assets/no-pictures.png">
                                    </div>
                                    <div class="text-center">
                                        <p class="tx-16 fw-bolder"></p>
                                        <p class="tx-12 text-muted">
                                            <a href="https://htmldesigntemplates.com/cdn-cgi/l/email-protection" class="__cf_email__"
                                               data-cfemail="c1afa4adb2aeafaf81a6aca0a8adefa2aeac"></a>
                                        </p>
                                    </div>
                                </div>
                                <ul class="list-unstyled p-1">
                                    <li class="dropdown-item py-2">
                                        <a class="text-body ms-0" href="/login/Logout">
                                            <i class="me-2 icon-md" data-feather="log-out"></i>
                                            <span>Log Out</span>
                                        </a>
                                    </li>
                                    <li class="dropdown-item py-2">
                                        <a class="text-body ms-0" href="/login/ChangePassword">
                                            <i class="me-2 icon-md" data-feather="user"></i>
                                            <span>Change Password</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="page-content">
                @RenderBody()
            </div>


            <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
                <p class="text-muted mb-1 mb-md-0">Copyright © @DateTime.Now.Year <a href="https://macreel.co.in/" target="_blank">Macreel Infosoft Pvt. Ltd</a>.</p>

            </footer>

        </div>
    </div>

    <script src="~/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/assets/vendors/jquery.flot/jquery.flot.js"></script>
    <script src="~/assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
    <script src="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/js/sweetalert.min.js"></script>

    <script src="~/assets/vendors/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/template.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"></script>
    @*<script src="~/assets/js/dashboard-light.js"></script>*@

    <script src="~/assets/js/datepicker.js"></script>
    <script src="~/assets/datatable/datatables.min.js"></script>
    <script src="~/assets/vendors/select2/select2.min.js"></script>


    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.0/css/buttons.dataTables.css" />

    <script src="https://cdn.datatables.net/buttons/3.2.0/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#dataTableExample').DataTable({
                deferRender: false,
                drawCallback: function () {
                    feather.replace();
                },
                columnDefs: [
                    { width: "100px", targets: 0, className: 'dt-center' }
                ],
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                lengthMenu: [10, 25, 50, 100],
            });
            feather.replace();
        });
        $(document).ready(function () {
            $("img").on("error", function () {
                $(this).attr("src", "/assets/no-pictures.png")
            })
        })
    </script>

    <script>
        function showLoader() {
            $("#loaderOverlay").show();
        }

        function hideLoader() {
            $("#loaderOverlay").hide();
        }

        // Loader only for AJAX requests
        $(document).ajaxStart(function () {
            showLoader();
        });

        $(document).ajaxStop(function () {
            hideLoader();
        });

        // Optional: show loader on form submit
        $("form").on("submit", function () {
            showLoader();
        });

        // Remove loader on page ready
        $(document).ready(function () {
            hideLoader();
        });
    </script>

    <script>(function () { if (!document.body) return; var js = "window['__CF$cv$params']={r:'883a8eae8a7f44a7',t:'MTcxNTY4NjIzOS4zNTkwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../../../cdn-cgi/challenge-platform/h/g/scripts/jsd/1b3559406bc8/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);"; var _0xh = document.createElement('iframe'); _0xh.height = 1; _0xh.width = 1; _0xh.style.position = 'absolute'; _0xh.style.top = 0; _0xh.style.left = 0; _0xh.style.border = 'none'; _0xh.style.visibility = 'hidden'; document.body.appendChild(_0xh); function handler() { var _0xi = _0xh.contentDocument || _0xh.contentWindow.document; if (_0xi) { var _0xj = _0xi.createElement('script'); _0xj.innerHTML = js; _0xi.getElementsByTagName('head')[0].appendChild(_0xj); } } if (document.readyState !== 'loading') { handler(); } else if (window.addEventListener) { document.addEventListener('DOMContentLoaded', handler); } else { var prev = document.onreadystatechange || function () { }; document.onreadystatechange = function (e) { prev(e); if (document.readyState !== 'loading') { document.onreadystatechange = prev; handler(); } }; } })();</script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vedd3670a3b1c4e178fdfb0cc912d969e1713874337387" integrity="sha512-EzCudv2gYygrCcVhu65FkAxclf3mYM6BCwiGUm6BEuLzSb5ulVhgokzCZED7yMIkzYVg65mxfIBNdNra5ZFNyQ==" data-cf-beacon='{"rayId":"883a8eae8a7f44a7","version":"2024.4.1","r":1,"token":"e2e296138d64407b8469055f5cbf0b42","b":1}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from htmldesigntemplates.com/html/travelin/dashboard// by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 May 2024 11:34:40 GMT -->
</html> 