
@{
    ViewBag.Title = "ProjectCompleteTaskList";
    Layout = "~/Views/Shared/_subOrdinateLayout.cshtml";
}
<style>
    .link-icon {
        height: 16px;
    }
</style>
<div class="search-box p-4 bg-white rounded mb-3 box-shadow">
    <form class="forms-sample">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <h5>Completed Tasks Lists</h5>
            </div>
            @*<div class="col-lg-6 col-md-6">
                <input type="text" id="searchProjectBy" name="searchByProjectName" placeholder="Search by project name" class="form-control">
            </div>
            <div class="col-lg-3 col-md-6">
                <select id="filterProjectStatus" class="form-select form-select-lg">
                    <option selected value="">Project Status</option>
                    <option value="Ongoing">Ongoing</option>
                    <option value="delay">Delay</option>
                    <option value="Complete">Completed</option>
                </select>
            </div>*@
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="projectTable1" class="dataTableExample" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Project Code</th>
                                <th>Project Name</th>
                                <th>Assigned By</th>
                                <th>Assign Date</th>
                                <th>Start Date</th>
                                <th>Completion Date</th>
                                <th>Project Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="viewProjectModal" tabindex="-1" aria-labelledby="viewProjectModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex">
                        <h1 class="modal-title fs-5 text-success" id="exampleModalLabel"> Detail</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="viewProjectModalBody">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="viewStatusModal" tabindex="-1" aria-labelledby="viewStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center text-white">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>

                <h5 class="modal-title float-start" id="viewStatusModalLabel">Raise Problem</h5>
            </div>
            <div class="modal-body">
                <form class="forms-sample" id="problemForm">
                    <input type="hidden" id="projectId" name="Project_Id" />
                    <div class="mb-3">
                        <label for="upload" class="form-label">Title</label>
                        <input class="form-control" type="text" id="title" name="Title" placeholder="Enter Problem Title">
                    </div>

                    <div class="mb-3">
                        <label for="delayReason" class="form-label">Description</label>
                        <textarea class="form-control form-control-sm" name="Description" id="description" rows="4" placeholder="Enter Problem Description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="upload" class="form-label">Upload Image</label>
                        <input class="form-control" type="file" id="attachment" name="Attachment">
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="link-icon" data-feather="plus"></i> Add Problem</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
